body {
	background: #8675B2;
	color: white;
}

button {
	border: none;
	color: Black;
	background: Yellow;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: pink;
}

a:hover {
	color: red;
}


